{% extends 'base.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block body %}
<div class="container">
    <h3>Demande de réinitialisation du mot de passe</h3><br>
    {{ form_start(form)}}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock  %}