{% extends 'base.html.twig' %}

{% block title %}Modification d'une vidéo{% endblock %}

{% block body %}
<div class="container">
 <h1>Modification d'une vidéo </h1>
    {{ form_start(form) }}
    {{form_errors(form)}}
   
    {{ form_row(form.src)}}
 
    <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
</div>
{% endblock %}