<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap" rel="stylesheet">

        {% block stylesheets %}
            <link href={{ asset('css/styles.css') }} rel="stylesheet" />
        {% endblock %}
        <title>{% block title %}Snow Tricks{% endblock %}</title>
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <script src={{asset('js/scripts.js')}}></script>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg" style="background-color:#54a0ff">
                <div class="container">
                    <a class="navbar-brand" href="#">Snow Tricks</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href={{ path('home') }}>Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Tricks</a></li>
                            <li class="nav-item"><a class="nav-link" href={{ path('app_login') }}>Log in</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Sign up</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
        {% block footer %}
            {# <footer class="footer">
                <div class="container">
                    <span class="text-muted">Place sticky footer content here.</span>
                </div>
            </footer> #}
        {% endblock %}
</html>
