<form name="image_form" method="post" enctype="multipart/form-data">
    
    <div class="mb-3">
    <label for="image_form_images" class="form-label required">Images</label>
    <input type="file" id="image_form_images" name="image_form[images]" required="required" class="form-control">        </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
    {# <input type="hidden" id="image_form_token" name="image_form[token]" value="f71c.44LO99L6dXg0L8VDUART77il9ulmQxEIc6ODCAcEf4c.rvK0xaDIPExfSr90OlQZvM7vodEwFEs4I_mySXMwCcS39p2Vh4ozNGBbog"></form> #}